
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/bookAService.css">
  <script src="./js/multiStepForm2.js"></script>
  <script src="./js/bookAService.js"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="styles/mechanicPage2.0.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Document</title>
</head>

<body>
<nav class="navbar">
  <div class="logo">
    <i class="bx bx-menu" id="sidebarOpen"></i>
    M Car Service
  </div>
</nav>
<nav class="sidebar">
  <div class="mechanic">
    <p class="mechanicName">

    </p>
  </div>
  <div class="menu_content">
    <ul class="menu_items">
      <li class="menu_item" style="background-color:white;">
        <a href="index.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-home"></i>
            </span>
          <span class="navlink">Начало</span>
        </a>
      </li>
      <li class="menu_item" >
        <a href="/bookAService" class="nav_link add-appointment-link">
            <span class="navlink_icon">
              <i class='bx bx-calendar-plus'></i>
            </span>
          <span class="navlink">Запази час</span>
        </a>
      </li>
      <li class="menu_item"  >
        <a href="/serviceBook" class="nav_link history-link" >
            <span class="navlink_icon">
              <i class='bx bx-calendar-check'></i>
            </span>
          <span class="navlink">Сервизна книжка</span>
        </a>
      </li>

      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="#" class="nav_link add-service-link">
            <span class="navlink_icon">
              <i class='bx bx-add-to-queue'></i>
            </span>
          <span class="navlink">Добавяне на услуга</span>
        </a>
      </li>
      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="#" class="nav_link all-services-link">
            <span class="navlink_icon">
              <i class='bx bx-list-ul'></i>
            </span>
          <span class="navlink">Услуги</span>
        </a>
      </li>
      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="#" class="nav_link add-mechanic-link">
            <span class="navlink_icon">
              <i class='bx bx-add-to-queue'></i>
            </span>
          <span class="navlink">Добави механик</span>
        </a>
      </li>
      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="#" class="nav_link mechanics-link">
            <span class="navlink_icon">
              <i class='bx bx-wrench'></i>
            </span>
          <span class="navlink">Механици</span>
        </a>
      </li>
      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="#" class="nav_link appointments-link">
            <span class="navlink_icon">
              <i class='bx bx-calendar'></i>
            </span>
          <span class="navlink">Записани часове</span>
        </a>
      </li>
      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="/users" class="nav_link users-link">
            <span class="navlink_icon">
            <i class='bx bx-user-circle' ></i>
            </span>
          <span class="navlink">Потребители</span>
        </a>
      </li>

      <li class="menu_item"  th:if="${user.role.name() == 'ADMIN'}">
        <a href="#" class="nav_link blockedUsers-link">
            <span class="navlink_icon">
            <i class='bx bx-block'></i>
            </span>
          <span class="navlink">Блокирани потреб.</span>
        </a>
      </li>

    </ul>
    <div class="collapse_content">
      <div class="collapse expand_sidebar">
        <span> Разгърни</span>
        <i class="bx bx-chevron-right"></i>
      </div>
      <div class="collapse collapse_sidebar">
        <span> Свий</span>
        <i class="bx bx-chevron-left"></i>
      </div>
    </div>
  </div>
</nav>

<div class="main-content">


  <div class="Your_cars">
    <form method="post" id="myForm" enctype="multipart/form-data">
      <div class="tab1" style="display: block;">
        <div class="row">
          <div class="col-25">
            <label for="car"></i>Кола</label>
          </div>
          <div class="col-75">
            <select id="car_select" name="car">

              <option value="-">
              <option th:each="car : ${userCars}" th:value="${car.id}" th:text="${car.brand + ' ' + car.model + ' ' + car.licensePlate}"></option>
              </option>

            </select>
          </div>
        </div>

        <div class="row1">
          <p class="ifAdd">Ако не си ползвал нашите услуги и нямаш коли в списъка можеш да си добавиш</p>
          <div class="carButtons">
            <a class="addCarBtn" th:href="@{addCar}">Добави колата си</a>
            <button type="button" id="ViewCarInfo">Информация за автомобила</button>
          </div>

        </div>
        <div id="carInfoContainer">

        </div>

    </form>

  </div>





</div>


<script src="js/multiStepForm2.js"></script>
  <script src="js/clientPage.js"></script>
<!--<script src="js/adminPageScript.js"></script>-->

</body>



</html>